<?xml version="1.0" encoding="utf-8"?>
<launch>
  <include file="$(find mra_control)/launch/mra7a/mra7a_hw_trajectory_bingup.launch">
  </include>

  <include file="$(find mra7a_gazebo)/launch/mra7a_bringup_rviz.launch">
  </include>

  <node name="marker_control_python" pkg="marker_control_python" type="marker_control_start.py" output="screen">  
  </node>

  <node name="detect_ik_solution" pkg="detect_ik_solution" type="detect_ik_solution_node">
  </node>

  <node name="message_router" pkg="message_router" type="message_router_node">
    <param name="/broadcast_ip" value="192.168.80.255"/>
    <param name="/broadcast_port" value="6000"/>
  </node>


</launch>
